## General
.DS_Store
*.swp
*.swo
__pycache__/
*.pyc
.cache/
.idea/
*.log

## Python virtualenvs
env/
venv/

## Editor/IDE
.vscode/

## PlatformIO / build artifacts
.pio/
.pioenvs/
build/
libdeps/
*.elf
*.hex
*.bin

## Debian packaging/build artifacts
*.deb
*.changes
*.buildinfo
*.dsc
debian/*.debhelper.log

## Misc
node_modules/
.pio/
.pioenvs/
build/
libdeps/
*.elf
*.hex
*.bin
.vscode/
.idea/
.DS_Store
